<section class="company-trust section-top-space">
  <h2
    class="d-flex justify-content-center gap-2"
    appAnimateOnScroll
    animationDelay="100"
  >
    <span>{{ "HowCould" | translate }}</span>
    <span class="exceed-text">{{ "Exceed" | translate }}</span>
    <span>{{ "GainThousandTrust" | translate }}</span>
  </h2>

  <div class="row" appAnimateOnScroll animationDelay="100">
    <div class="company-boxes col-4">
      <div class="company-boxes-container d-flex flex-column gap-4">
        <img src="imgs/icons/headphone.svg" width="40" alt="headphone" />
        <h3 class="animate__animated animate__fadeIn">
          {{
            "Fast technical support and flexible packages tailored to your project"
              | translate
          }}
        </h3>
        <p class="m-0">{{ "OurTeamRespondsQuickly" | translate }}</p>
      </div>
    </div>

    <div class="company-boxes col-4">
      <div class="company-boxes-container d-flex flex-column gap-4">
        <img src="imgs/icons/cloud-add.svg" width="40" alt="cloud-add" />
        <h3 class="animate__animated animate__fadeIn">
          {{ "SmartSimple" | translate }}
        </h3>
        <p class="m-0">{{ "ManagingSalesInventory" | translate }}</p>
      </div>
    </div>

    <div class="company-boxes col-4">
      <div class="company-boxes-container d-flex flex-column gap-4">
        <img src="imgs/icons/teacher.svg" width="40" alt="teacher" />
        <h3 class="animate__animated animate__fadeIn">
          {{ "Trust built on experience and data" | translate }}
        </h3>
        <p class="m-0">{{ "Trust built on over" | translate }}</p>
      </div>
    </div>
  </div>
</section>
