<div class="work-fields">
  <div class="container">
    <header class="work-fields-header">
      <h3 class="work-fields-title" appAnimateOnScroll animationDelay="100">
        <span>{{ "Fields of work covered by" | translate }}</span>
        <span class="exceed-text">{{ "Exceed" | translate }}</span>
      </h3>

      <p class="work-fields-subtitle" appAnimateOnScroll animationDelay="100">
        {{ "Our specialized solutions meet" | translate }}
      </p>
    </header>

    <div class="work-fields-content" appAnimateOnScroll animationDelay="100">
      <div class="work-fields-grid">
        <div class="work-fields-images">
          <div class="image-box">
            <div class="image-box-overlay" aria-hidden="true"></div>
            <img
              src="/imgs/fields/image 28.png"
              alt="{{ 'Crafts management illustration' | translate }}"
              loading="lazy"
            />
          </div>
          <div class="image-box">
            <div class="image-box-overlay" aria-hidden="true"></div>
            <img
              src="/imgs/fields/image 29.png"
              alt="{{ 'Professional services illustration' | translate }}"
              loading="lazy"
            />
          </div>
        </div>

        <div class="work-fields-info">
          <h4 class="work-fields-info-title">
            {{ "Crafts Management Software" | translate
            }}<br class="breakline" />
            {{ "Professional Services" | translate }}
          </h4>
          <p class="work-fields-info-text">
            {{ "Cleaning Services Company" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
