@import '../../../../styles/base/variables';

.work-fields {
    padding: 8rem 0;

    &-header {
        text-align: center;
        margin-bottom: 4rem;
    }

    &-title {
        font-size: spacer(8);
        color: $grayColor;
        margin-bottom: 2rem;


    }

    &-subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        color: $header;
        margin: 0;

        margin-top: 4rem;
    }

    &-content {
        padding-top: 5.6rem;
    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        align-items: center;

        @media (min-width: 992px) {
            grid-template-columns: 7fr 5fr;
            gap: 5.6rem;
        }
    }

    &-images {
        display: flex;
        gap: 5.6rem;
        justify-content: center;
        flex-wrap: wrap;

        @media (max-width: 991px) {
            gap: 3rem;
        }

        @media (max-width: 576px) {
            gap: 2rem;
        }
    }

    .image-box {
        position: relative;
        flex: 0 1 auto;
        padding: 0 1rem;

        max-width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 4rem;
            transition: transform 0.5s ease-in-out;
        }

        &-overlay {
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $textColor;
            height: 70%;
            z-index: -1;
            border-radius: 4rem;
        }

        &:hover img {
            transform: scale(1.025);
        }
    }

    &-info {
        &-title {
            font-size: spacer(6);
            color: $grayColor;
            line-height: 1.6;
            margin-bottom: 1.8rem;

            @media (max-width: 991px) {
                text-align: center;

                .breakline {
                    display: none;
                }
            }
        }

        &-text {
            font-size: 2rem;
            font-weight: 400;
            line-height: 2;
            color: $header;
            text-align: justify;

            @media (max-width: 991px) {
                text-align: justify;
            }

            @media (max-width: 576px) {
                font-size: 1.8rem;
                line-height: 1.6;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 6rem 0;

        &-title {
            font-size: spacer(6);
            margin-bottom: 1.5rem;
        }

        &-content {
            padding-top: 4rem;
        }
    }

    @media (max-width: 576px) {
        padding: 4rem 0;

        &-title {
            font-size: spacer(5);
        }

        &-subtitle {
            font-size: 1.4rem;
        }
    }
}