@import '../../../styles/base/variables';



.footer {
    position: relative;
    z-index: 2;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 30%;
        width: 400px;
        height: 300px;
        background: linear-gradient(135deg, #4CAF50 0%, $orange 100%);
        opacity: 0.3;
        z-index: -1;
        filter: blur(100px);

        @media (max-width: 768px) {
            width: 200px;
            height: 200px;
        }
    }

    p {
        margin: 0;
        color: #fff;
        opacity: 0.7;


    }

    ul {
        li {

            a {
                transition: opacity 0.5s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .container-fluid {
        padding: 0 40px 0 40px;
    }

    margin-top: spacer(12);
    padding-top: 5.6rem;
    background: radial-gradient(96.18% 74.36% at 19.61% 76.42%, #450099 0%, #110029 100%);
    color: #fff;
    position: relative;
    width: 100%;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/imgs/Vector.svg');
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
        opacity: 0.1;
        z-index: -1;
    }


    h4 {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: -0.5px;
    }

    li {
        a {
            font-size: 1.2rem;
            font-weight: 400;
            text-decoration: none;
            color: #fff;
            opacity: 0.7;
        }
    }
}




.input-group {
    flex-direction: row-reverse;
}

.input-group .form-control {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-start-end-radius: 0.375rem;
    border-end-end-radius: 0.375rem;
}

.input-group .input-group-text {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-start-start-radius: 0.375rem;
    border-end-start-radius: 0.375rem;
}


.footer-email {

    h4 {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .input-group-text {
        text-decoration: none;
        background-color: $orange;
        color: #FAFAFA;
        border-top-left-radius: 1.6rem;
        border-bottom-left-radius: 1.6rem;
        border: 0;
        font-weight: 400;
        font-size: 1.4rem;
        width: 100px;
    }

    input.form-control {
        width: 461px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        padding: 0px 24px 0px 0px;
        height: 56px;
        color: #fff;
        opacity: 0.56;
        border: 0;
        font-weight: 400;
        font-size: 1.2rem;

        &::placeholder {
            color: #fff;
            opacity: 0.56;
            font-size: 1.2rem;
            font-weight: 400;
        }

        &:focus {
            border-inline-end: 0;
            box-shadow: none;

        }
    }

    input.form-check-input {
        width: 14px;
        height: 14px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 2px;
        background-color: transparent;
    }

    .footer-check {
        span {
            letter-spacing: 0.02em;
            color: #fff;
            opacity: 0.7;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }


}


.second-row {
    margin-top: spacer(16);

    * {

        font-size: 1.2rem;
    }

    color: #fff;



}

.seperator {
    padding: 0 8rem;
    margin-top: 8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
}


.copyrights {
    padding: 1.6rem 0;

    p {
        opacity: 1;
    }

    .copyrights-list {
        li {
            a {
                opacity: 1;

                i {
                    font-size: 1.6rem;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

@media(max-width: 1400px) {
    .input-group input {
        width: auto !important;
    }
}

@media(max-width: 992px) {
    .second-content {
        justify-content: flex-start !important;

        * {
            text-align: start !important;
        }




    }

    .align-items-end {
        align-items: flex-start !important;
    }

    .phone {
        p {

            text-align: end !important;
        }
    }

    .logos {
        justify-content: center !important;
        text-align: start !important;
    }


    .footer-email {
        h4 {
            text-align: start !important;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        text-align: center;

        .footer-content {
            align-items: flex-start;
        }

        .footer-email input.form-control {
            width: 100%;
        }

        .about,
        .policies,
        .Support {
            align-items: flex-start;
        }




        .support-title,
        .footer-email {
            margin-top: 2rem;
        }


        .second-row {
            display: flex;
            align-items: start;
        }


        .second-row {



            text-align: center;

            .footer-logo {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 1rem;
            }

            .d-flex.justify-content-end {
                justify-content: flex-start !important;
            }


            h4 {
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 0.5rem;

            }



        }

        .seperator {
            margin-top: 2rem;
        }


    }


}