<div class="footer">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-lg-2 col-sm-6 col-6 mb-4">
        <div class="footer-content d-flex flex-column gap-4">
          <h4>{{ "About Exceed" | translate }}</h4>
          <ul class="about d-flex flex-column gap-4">
            <li>
              <a href="#">{{ "Information section" | translate }}</a>
            </li>
            <li>
              <a href="#">{{ "Our services" | translate }}</a>
            </li>
            <li>
              <a href="#">{{ "Our products" | translate }}</a>
            </li>
            <li>
              <a href="#">{{ "Download section" | translate }}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Policies -->
      <div class="col-lg-2 col-sm-6 col-6 mb-4">
        <div class="footer-content d-flex flex-column gap-4">
          <h4>{{ "Policies" | translate }}</h4>
          <ul class="policies d-flex flex-column gap-4">
            <li>
              <a href="#">{{ "Privacy policy" | translate }}</a>
            </li>
            <li>
              <a href="#">{{ "Who we are" | translate }}</a>
            </li>
            <li>
              <a href="#">{{ "Copyrights" | translate }}</a>
            </li>
            <li>
              <a href="#">{{ "Terms of Use" | translate }}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Support -->
      <div class="col-lg-2 col-sm-12 mb-4">
        <div class="footer-content d-flex flex-column gap-4">
          <h4 class="support-title">{{ "Support" | translate }}</h4>
          <ul class="Support d-flex flex-column gap-4">
            <li>
              <a href="#">{{ "Technical support" | translate }}</a>
            </li>
            <li>
              <a href="#">{{ "Contact us" | translate }}</a>
            </li>
            <li>
              <a href="#">{{ "Frequently Asked Questions" | translate }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12">
        <div class="footer-email d-flex flex-column gap-3">
          <h4>{{ "Subscribe to receive news" | translate }}</h4>
          <div class="input-group mb-3">
            <a
              class="input-group-text d-flex align-items-center justify-content-center pointer"
              id="basic-addon2"
            >
              {{ "Subscription" | translate }}
            </a>

            <input
              type="text"
              class="form-control"
              placeholder="{{ 'EnterEmail' | translate }}"
              aria-label="EnterEmail"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="footer-check d-flex gap-3">
            <input class="form-check-input mt-0" type="checkbox" value="" />
            <span>{{ "By clicking subscribe" | translate }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row second-row">
      <div
        class="col-lg-2 col-sm-6 mb-4 d-flex align-items-end justify-content-center justify-content-lg-start second-content"
      >
        <div class="footer-logo">
          <img src="/imgs/icons/logo.svg" alt="Logo" />
        </div>
      </div>

      <div
        class="col-lg-2 col-sm-6 mb-4 text-center text-lg-start second-content"
      >
        <h4 class="mb-4">{{ "Address" | translate }}</h4>
        <p>{{ "location" | translate }}</p>
      </div>

      <div
        class="col-lg-2 col-sm-6 mb-4 text-center text-lg-start phone second-content"
      >
        <h4 class="mb-4">{{ "Phone" | translate }}</h4>
        <p dir="ltr">+966 5678 81322</p>
        <p dir="ltr">+966 5678 84220</p>
      </div>

      <div
        class="col-lg-3 col-sm-6 mb-4 text-center text-lg-start second-content"
      >
        <h4 class="mb-4">{{ "Email" | translate }}</h4>
        <p>info&#64;atheebsoft.com</p>
      </div>

      <div
        class="col-lg-3 col-sm-12 d-flex justify-content-center justify-content-lg-end gap-4 mt-3 mt-lg-0 second-content logos"
      >
        <div class="d-flex flex-column align-items-center gap-3">
          <img src="/imgs/footer/Group 1321314613.svg" width="43" alt="" />
          <img src="/imgs/footer/Frame 1618873328.svg" width="31" alt="" />
        </div>

        <div class="d-flex flex-column align-items-end gap-3">
          <img src="/imgs/footer/visa.svg" width="56" alt="" />
          <img src="/imgs/footer/qtaf.svg" width="72" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="seperator"></div>
  </div>

  <div class="container">
    <div class="copyrights d-flex justify-content-between">
      <p class="m-0 d-flex align-items-center gap-2">
        <span class="fs-4"> &#xA9;</span>
        <span>{{ "AllRightsReserved" | translate }}</span>
      </p>

      <ul class="copyrights-list d-flex align-items-center gap-4">
        <li>
          <a href="#"> <i class="fa-brands fa-tiktok"></i></a>
        </li>

        <li>
          <a href="#"> <i class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-snapchat"></i></a>
        </li>

        <li>
          <a href="#"> <i class="fa-brands fa-linkedin-in"></i> </a>
        </li>

        <li>
          <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
        </li>

        <li>
          <a href="#">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
