<div class="what-is-container">
  <div class="exceed-desktop">
    <div class="container">
      <div class="row">
        <div
          class="exceed-desktop-frame col-lg-6 col-sm-12 col-12 d-flex align-items-center"
          appAnimateOnScroll
          animationDelay="100"
        >
          <div class="row">
            <div class="col-lg-10 col-12">
              <img src="imgs/about/cloud-computing.svg" class="w-100" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12 exceed-desktop-content">
          <p appAnimateOnScroll animationDelay="100">
            {{ "Exceed is a comprehensive" | translate }}
          </p>

          <p appAnimateOnScroll animationDelay="100">
            {{ "A complete and secure cloud" | translate }}
          </p>

          <p appAnimateOnScroll animationDelay="100">
            {{ "High flexibility and customization" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Second -->

<div class="second-container">
  <div class="exceed-desktop">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-12 exceed-desktop-content">
          <p appAnimateOnScroll animationDelay="100">
            {{ "the best ERP software in Saudi Arabia" | translate }}
          </p>
        </div>

        <div
          class="exceed-desktop-frame col-lg-6 col-sm-12 col-12 d-flex align-items-center"
          appAnimateOnScroll
          animationDelay="100"
        >
          <div class="row justify-content-end">
            <div class="col-lg-10 col-12">
              <img src="imgs/Group 2454.svg" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="second-container">
  <div class="exceed-desktop">
    <div class="container">
      <div class="row align-items-center">
        <div
          class="exceed-desktop-frame col-lg-6 col-sm-12 col-12 d-flex align-items-center justify-content-center"
          appAnimateOnScroll
          animationDelay="100"
        >
          <div class="row justify-content-start">
            <div class="col-lg-10 col-12">
              <img src="imgs/about/359.svg" class="w-100" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 exceed-desktop-content">
          <p appAnimateOnScroll animationDelay="100">
            {{ "Comprehensive Warehouse Management" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
