<div class="about-register">
  <div class="about-register-content">
    <div class="container">
      <h3 class="text-center" appAnimateOnScroll animationDelay="100">
        <span>
          {{ "Enter your email address and start" | translate }}
        </span>
        <br />
        <span>{{ "your journey with" | translate }}</span>
        <span class="exceed-text">{{ "Exceed" | translate }}</span>
      </h3>

      <div
        class="input-group d-flex justify-content-center"
        appAnimateOnScroll
        animationDelay="100"
      >
        <a
          class="input-group-text d-flex align-items-center justify-content-center pointer"
          id="basic-addon2"
          >{{ "Subscription" | translate }}</a
        >

        <input
          type="text"
          class="form-control"
          placeholder="{{ 'EnterEmail' | translate }}"
          aria-label="EnterEmail"
          aria-describedby="basic-addon2"
        />
      </div>

      <p class="text-center no-spam" appAnimateOnScroll animationDelay="100">
        " {{ "No spam just content" | translate }} "
      </p>

      <div class="about-contact" appAnimateOnScroll animationDelay="100">
        <div class="row">
          <div class="col-lg-6 col-12 d-flex align-items-center gap-2">
            <div class="about-contact-icon">
              <i class="fa-solid fa-phone-flip"></i>
            </div>

            <div
              class="about-contact-text flex-grow-1 d-flex justify-content-between align-items-center"
            >
              <p class="m-0">{{ "SalesTeam" | translate }}</p>
              <span dir="ltr">+966 6569 970 59</span>
            </div>
          </div>

          <div
            class="col-lg-6 col-12 d-flex align-items-center gap-2 mouse-content"
          >
            <div class="about-contact-icon">
              <i class="fa-solid fa-computer-mouse"></i>
            </div>

            <div
              class="about-contact-text flex-grow-1 d-flex justify-content-between align-items-center"
            >
              <p class="m-0">{{ "Follow us and stay closer" | translate }}</p>
              <ul class="social-list d-flex align-items-center gap-4">
                <li>
                  <a href="#"><i class="fa-brands fa-snapchat"></i></a>
                </li>

                <li>
                  <a href="#"> <i class="fa-brands fa-linkedin-in"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li>
                  <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
                </li>

                <li>
                  <a href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
