@import '../../../../styles/base/variables';

.about-register {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: $textColor;

    &-content {
        padding: 9.6rem 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/imgs/Clip path.svg');
            background-repeat: no-repeat;
            background-position: top;
            filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
            opacity: 0.2;
            z-index: -1;
        }

        h3 {
            color: #fff;
            font-size: 3.2rem;
            line-height: 1.2;

            span:first-child {
                position: relative;
                z-index: 5;
            }
        }
    }

    .no-spam {
        margin-top: 5.6rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;

    }
}


.input-group {
    flex-direction: row-reverse;
}

.input-group .form-control {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-start-end-radius: 0.375rem;
    border-end-end-radius: 0.375rem;
}

.input-group .input-group-text {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-start-start-radius: 0.375rem;
    border-end-start-radius: 0.375rem;
}


.about-register {

    .input-group {
        margin-top: 5.6rem;
    }

    .input-group-text {
        text-decoration: none;
        background-color: $orange;
        color: #FAFAFA;
        border-top-left-radius: 1.6rem;
        border-bottom-left-radius: 1.6rem;
        border: 0;
        font-weight: 400;
        font-size: 1.4rem;
        width: 100px;
    }

    input.form-control {
        max-width: 461px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        padding: 0px 24px 0px 0px;
        height: 56px;
        color: #fff;
        // opacity: 0.56;
        border: 0;
        font-weight: 400;
        font-size: 1.2rem;
        position: relative;
        z-index: 5;

        &::placeholder {
            color: #fff;
            opacity: 0.56;
            font-size: 1.2rem;
            font-weight: 400;
        }

        &:focus {
            border-inline-end: 0;
            box-shadow: none;

        }
    }

    input.form-check-input {
        width: 14px;
        height: 14px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 2px;
        background-color: transparent;
    }


}


.about-contact {
    margin-top: 5.6rem;

    &-icon {
        background: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.16);
        border-radius: 1.6rem;
        width: 6.4rem;
        height: 6.4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 2.4rem;
            color: #fff;
        }
    }

    &-text {
        background: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.16);
        border-radius: 1.6rem;
        color: #fff;
        height: 6.4rem;
        padding-inline: 3.2rem;
        font-size: 1.6rem;
        font-weight: 400;
    }

    .social-list {
        li {
            a {
                color: #fff;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .mouse-content {
        margin-top: 2rem;
    }

    .justify-content-start {
        justify-content: center !important;
    }



}