<div class="what-is-container">
  <div class="exceed-desktop">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-sm-12 col-12 exceed-desktop-content d-flex flex-column justify-content-center"
        >
          <h3 appAnimateOnScroll animationDelay="100">
            <span>{{ "Retail Solutions" | translate }}</span>
            <br class="breakline" />
            <span>{{ "and Point of Sale" | translate }}</span>
          </h3>

          <p appAnimateOnScroll animationDelay="100" class="mb-0">
            {{ "Retail solutions text" | translate }}
          </p>
        </div>

        <div
          class="exceed-desktop-frame col-lg-6 col-sm-12 d-flex align-items-center"
          appAnimateOnScroll
          animationDelay="100"
        >
          <div class="row">
            <div class="col-lg-10 col-sm-12 col-12">
              <img src="imgs/fields/printer.svg" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="exceed-erp">
  <div class="exceed-desktop">
    <div class="container">
      <div class="row">
        <div
          class="exceed-desktop-frame col-lg-6 col-sm-12 d-flex align-items-center"
          appAnimateOnScroll
          animationDelay="100"
        >
          <div class="row">
            <div class="col-lg-10 col-sm-12 col-12">
              <img
                src="imgs/fields/Frame 1618873798.svg"
                class="w-100"
                alt=""
              />
            </div>
          </div>
        </div>

        <div
          class="col-lg-6 col-sm-12 col-12 exceed-desktop-content d-flex flex-column justify-content-center"
        >
          <h3 appAnimateOnScroll animationDelay="100">
            <span>{{ "Management Systems" | translate }}</span>
            <br class="breakline" />
            <span>{{ "Business Services" | translate }}</span>
          </h3>

          <p appAnimateOnScroll animationDelay="100" class="mb-0">
            {{ "Smart Software for Law Firms" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="programs">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="programs-item">
          <div class="programs-item-content">
            <h3>{{ "Healthcare and Medical Software" | translate }}</h3>
            <p>{{ "Sales and Distribution Software" | translate }}</p>
            <p>
              {{ "Pharmacy Management and Medication Software" | translate }}
            </p>
          </div>
          <div class="program-item-image"></div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="programs-item second-item">
          <div class="programs-item-content">
            <h3>
              {{ "Logistics Services Management Systems" | translate }}
            </h3>
            <p>
              {{
                "Shipping and Delivery Operations Management Software"
                  | translate
              }}
            </p>
          </div>
          <div class="program-item-image"></div>
        </div>
      </div>

      <div class="col-lg-12 mt-4 tourism">
        <div class="container">
          <div class="row tourism-container">
            <div
              class="col-lg-6 order-1 order-lg-2 tourism-content d-flex flex-column justify-content-center align-items-center"
            >
              <h3>{{ "TourismAndTransport" | translate }}</h3>
              <p class="m-0">
                {{ "Transportation and Travel Management Program" | translate }}
              </p>
              <p class="mb-0 mt-3">
                {{
                  "An application for managing travel and tourism offices"
                    | translate
                }}
              </p>
            </div>

            <div class="col-lg-6 order-2 order-lg-1 tourism-image">
              <!-- <img src="/imgs/fields/person.svg" alt="" /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fitness">
  <div class="container">
    <div class="fitness-content">
      <div class="row align-items-center flex-column-reverse flex-lg-row">
        <div class="col-lg-6 col-12 text-center text-lg-end order-2 order-lg-1">
          <h3>{{ "Fitness and Wellness Software" | translate }}</h3>
          <p>
            {{
              "Beauty Center and Womens Hair Salon Management Software"
                | translate
            }}
          </p>
        </div>

        <div
          class="col-lg-6 col-12 d-flex justify-content-center order-1 order-lg-2 mb-4 mb-lg-0"
        >
          <img
            src="/imgs/fields/fitness.svg"
            class="w-75 w-lg-100"
            alt="fitness"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cars">
  <div class="container">
    <div class="cars-content">
      <div class="row align-items-center flex-column flex-lg-row">
        <div
          class="col-lg-6 col-12 d-flex justify-content-start order-1 order-lg-1 mb-4 mb-lg-0"
        >
          <div class="row justify-content-start">
            <div class="col-lg-8 col-10 px-0">
              <img src="/imgs/fields/cars.svg" class="w-100" alt="cars" />
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12 text-center text-lg-end order-2 order-lg-2">
          <h3>{{ "Automotive Sector Management Systems" | translate }}</h3>
          <p>{{ "Car Maintenance Center Management" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
