@import '../../../../styles/base/variables';



.what-is-container {
    position: relative;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: $textColor;
    margin-top: 8rem;
    color: #fff;

    .exceed-desktop {
        padding: 8rem 0 5.2rem 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/imgs/Clip path group.svg');
            background-repeat: no-repeat;
            background-position: top;
            filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
            opacity: 0.2;
            z-index: -1;
        }
    }

    h3 {
        font-size: 3.2rem;
        line-height: 1.6;

        @media(max-width: 767px) {
            text-align: center;
            font-size: 2rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            justify-content: center;

            .breakline {
                display: none;

            }
        }
    }


    p {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2;
        margin-top: 2.8rem;
        text-align: justify;
    }
}


.exceed-erp {
    .exceed-desktop {
        padding: 8rem 0 5.2rem 0;


        img {
            transition: transform 0.5s ease-in-out;

            &:hover {
                transform: translateY(-2px);
            }
        }


        h3 {
            font-size: 3.2rem;
            line-height: 1.6;

            @media(max-width: 767px) {
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                margin-top: 4.8rem;

                .breakline {
                    display: none;
                }
            }
        }


        p {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2;
            margin-top: 2.8rem;
            text-align: justify;
        }
    }
}


.programs {
    &-item {


        position: relative;
        height: 480px;
        background-color: #E4E7FF;
        border-radius: 24px;
        overflow: hidden;

        z-index: 2;

        .programs-item-content {
            position: relative;
            z-index: 2;
            text-align: center;
            padding-top: 4rem;

            h3 {
                font-size: 2.8rem;
                margin-bottom: 1.5rem;
                color: $grayColor;
            }

            p {
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.2;
                color: $header;
                margin-bottom: 0.5rem;
            }
        }

        .program-item-image {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%; // or 200px, adjust as needed
            background: linear-gradient(173deg, rgba(228, 231, 255, 1) 0%, rgba(228, 241, 255, 0.21) 100%), url('/imgs/fields/Mask group.png') center bottom / cover no-repeat;
            z-index: 1;
        }



        h3 {
            margin-top: 6.1rem;
            margin-bottom: 2.4rem;
            font-size: 2.8rem;
            color: $grayColor;

        }

        p {
            color: $header;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.2;
        }

        h3,
        p {
            position: relative;
            z-index: 2;
            text-align: center;
            width: 100%;
        }
    }


    &-item.second-item {
        background: #E4F1FF;
        position: relative;
        z-index: 2;

        .program-item-image {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%; // or 200px, adjust as needed
            background: linear-gradient(173deg, rgba(228, 241, 255, 1) 0%, rgba(228, 241, 255, 0.21) 100%), url('/imgs/fields/Mask group.svg') center bottom / cover no-repeat;
            z-index: -1;
        }

        @media(max-width: 767px) {
            margin-top: 1.6rem;
        }
    }

    .tourism {
        &-container {
            background: #FAF1E3;
            border-radius: 24px;
            overflow: hidden;
            padding: 0;
        }

        .tourism-image {

            height: 100%;
            min-height: 300px;
            background: linear-gradient(90deg, rgba(250, 241, 227, 1) 0%, rgba(250, 241, 227, 0.21) 56%),
                url('/imgs/fields/person.svg');
            background-position: center right;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .tourism-content {
            padding: 2rem;
            text-align: center;
        }

        h3 {
            color: $grayColor;
            font-size: 2.8rem;
            margin-bottom: 1.6rem;

            @media(max-width: 767px) {
                font-size: 2rem;
            }
        }

        p {
            color: $header;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}

.fitness {
    background: #E4E7FF;
    margin-top: 2rem;
    padding: 6.4rem 16rem;

    h3 {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 2.8rem;
        color: $grayColor;

        @media (max-width: 767px) {
            font-size: 2rem;
        }
    }

    p {
        color: $header;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2;
    }

    @media (max-width: 991px) {
        padding: 4rem 2rem;
    }
}


.cars {
    margin-top: 6rem;
    padding: 0 16rem;

    h3 {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 2.8rem;
        color: $grayColor;

        @media (max-width: 767px) {
            font-size: 2rem;
        }
    }

    p {
        color: $header;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2;
    }

    @media (max-width: 991px) {
        padding: 0 2rem;
    }
}