@import '../../../../styles/base/variables';


.exceed-sectors {
    padding-top: 9.6rem;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/imgs/Vector.svg');
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
        opacity: 0.1;
        z-index: -1;
    }

    h3 {
        font-size: 3.2rem;
    }

    &-content {
        margin-top: 8rem;


        &-item {
            padding: 2.4rem;
            background-color: #fff;
            box-shadow: 0px 4px 40px rgba(159, 189, 230, 0.16);
            border-radius: 1rem;

            &:nth-child(4),
            &:nth-child(5) {
                margin-top: 2rem;
            }

            p {
                font-size: 1.8rem;
                color: $header;
                font-weight: 700;
            }

            transition: transform 0.5s;

            &:hover {
                transform: translateY(-2px);
            }
        }
    }
}

.counter {
    padding-bottom: 4rem;
}


@media(max-width: 992px) {

    .exceed-sectors-content {
        margin-top: 4rem;
    }

    .exceed-sectors-content-item {

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(3) {

            margin-top: 1rem;
        }

        p {
            font-size: 1.6rem;
        }
    }
}

@media(max-width: 600px) {
    .exceed-sectors-content-item {


        p {
            font-size: 1.2rem;
        }
    }
}