<div class="exceed-cloud section-top-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h2 appAnimateOnScroll animationDelay="100">
          <span class="exceed-text">{{ "Exceed" | translate }}</span>
          <span>{{ "Cloud" | translate }}</span>
          <span>({{ "Cloud ERP" | translate }})</span>
        </h2>

        <p class="exceed-cloud-text" appAnimateOnScroll animationDelay="100">
          {{ "ExceedCloudSystem" | translate }}
        </p>

        <ul class="exceed-cloud-list d-flex flex-column gap-4">
          <li appAnimateOnScroll animationDelay="100">
            {{ "Seamless integration with other systems" | translate }}
          </li>
          <li appAnimateOnScroll animationDelay="100">
            {{ "Automatic updates with no downtime" | translate }}
          </li>
          <li appAnimateOnScroll animationDelay="100">
            {{ "Enterprise-grade security" | translate }}
          </li>
          <li appAnimateOnScroll animationDelay="100">
            {{ "Access from anywhere" | translate }}
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12" appAnimateOnScroll animationDelay="100">
        <img src="imgs/Group 2456.svg" class="w-100" alt="" srcset="" />
      </div>
    </div>
  </div>
</div>
