<div class="exceed-solutions">
  <div class="container">
    <h3 class="text-center" appAnimateOnScroll animationDelay="100">
      <span>{{ "Diverse solutions offered by Company" | translate }}</span>
      <span class="exceed-text">{{ "Exceed" | translate }}</span>
    </h3>

    <div class="exceed-solutions-container">
      <!-- Image that spans between boxes -->
      <div class="solution-connector">
        <img src="/imgs/Frame 1618873723.svg" alt="Connector" />
      </div>

      <div class="solutions-wrapper">
        <div
          class="solution d-flex align-items-center gap-2"
          appAnimateOnScroll
          animationDelay="100"
        >
          <div
            class="solution-text d-flex flex-column align-items-center gap-3"
          >
            <h4>{{ "Advanced integration solutions" | translate }}</h4>
            <p class="text-center">
              {{
                "It connects your systems and various applications" | translate
              }}
            </p>
          </div>
          <div class="solution-img">
            <img src="/imgs/icons/buzzle.svg" alt="" />
          </div>
        </div>

        <div
          class="solution d-flex align-items-center justify-content-between gap-2"
          appAnimateOnScroll
          animationDelay="100"
        >
          <div
            class="solution-text d-flex flex-column align-items-center flex-grow-1 gap-3"
          >
            <h4>{{ "Software development services" | translate }}</h4>
            <p class="text-center">
              {{ "Customized to meet the needs of your business" | translate }}
            </p>
          </div>
          <div class="solution-img">
            <img src="/imgs/icons/cog.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
