@import '../../../../../styles/base/variables';

.exceed-text {
    &::before {
        width: 18rem;
        height: 8rem;
    }
}

.programs-home {
    padding-top: 8rem;

    h3 {
        font-size: 4.8rem;
        margin-bottom: 4rem;
        color: $grayColor;
    }

    p.header-text {
        font-size: 1.8rem;
        font-weight: 300;
        color: $header;
    }

    .programs-content {
        // margin-top: 13.6rem;
        padding: 8rem 0;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/imgs/Vector.svg');
            background-repeat: no-repeat;
            background-position: top;
            filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
            opacity: 0.1;
            z-index: -1;
        }

        h3 {
            font-size: 3.8rem;
            color: $grayColor;
            font-weight: 700;

            @media(max-width: 767px) {
                text-align: center;
            }
        }

        p {
            font-size: 1.8rem;
            font-weight: 400;
            color: $header;
            line-height: 2;
            text-align: justify;
        }

        &-img {

            @media(max-width: 767px) {
                display: flex;
                justify-content: center;
                margin-top: 3.8rem;
            }
        }
    }
}





@media(max-width: 600px) {
    .exceed-text::before {
        width: 18rem !important;
    }
}

@media(max-width: 767px) {
    .programs-content-img {
        text-align: center !important;
    }
}