<div class="programs-home">
  <div class="container">
    <h3 class="text-center" appAnimateOnScroll animationDelay="100">
      <span>{{ "Programs" | translate }}</span>
      <span class="exceed-text">{{ "Exceed" | translate }}</span>
    </h3>

    <p
      class="m-0 text-center header-text"
      appAnimateOnScroll
      animationDelay="100"
    >
      {{ "Exceed accounting system" | translate }}
    </p>
  </div>

  <div class="programs-content" appAnimateOnScroll animationDelay="100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-12">
          <h3>{{ "POS" | translate }}(POS)</h3>
          <p>{{ "Smooth and fast operation" | translate }}</p>
        </div>
        <div class="col-lg-6 col-12 text-start programs-content-img">
          <img src="/imgs/programs/mobile-payments.svg" alt="mobile-payments" />
        </div>
      </div>
    </div>
  </div>
</div>
