<div class="exceed-desktop-container">
  <div class="exceed-desktop">
    <div class="container">
      <div class="row">
        <div
          class="exceed-desktop-frame col-lg-6 col-sm-12"
          appAnimateOnScroll
          animationDelay="100"
        >
          <img src="imgs/Group 2454.svg" class="w-100" alt="" />
          <div class="first-frame d-flex align-items-center">
            <img src="imgs/Frame-1.svg" alt="Frame 1" />
            <span>{{ "User friendly interface" | translate }}</span>
          </div>

          <div class="second-frame d-flex align-items-center">
            <img src="imgs/Frame-2.svg" alt="Frame 1" />
            <span>{{
              "Comprehensive management of all operations" | translate
            }}</span>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 exceed-desktop-content">
          <h3 appAnimateOnScroll animationDelay="100">
            <span>{{ "System" | translate }}</span>
            <span class="exceed-text">{{ "Exceed" | translate }}</span>
            <span>{{ "Desktop" | translate }}</span>
            <br />
            <span>(Desktop ERP)</span>
          </h3>

          <p appAnimateOnScroll animationDelay="100">
            {{ "ExceedDesktopText" | translate }}
          </p>

          <ul class="exceed-desktop-list d-flex flex-column gap-4">
            <li appAnimateOnScroll animationDelay="100">
              {{ "User friendly interface compatible" | translate }}
            </li>
            <li appAnimateOnScroll animationDelay="100">
              {{ "ComprehensiveManagement" | translate }}
            </li>
            <li appAnimateOnScroll animationDelay="100">
              {{ "AccurateInsights" | translate }}
            </li>
            <li appAnimateOnScroll animationDelay="100">
              {{ "DataProtection" | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
