<div class="about-header">
  <div class="container">
    <div
      class="about-header-title text-center d-flex flex-column align-items-center"
    >
      <p class="d-flex gap-2 welcome-text">
        <span>
          {{ "WelcomeTo" | translate }}
        </span>

        <span>
          {{ "Exceed" | translate }}
          <span
            class="hand"
            appAnimateOnScroll
            animationDelay="100"
            animationClass="animate__headShake"
            >👋
          </span>
        </span>
      </p>

      <div
        class="exceed-logo"
        appAnimateOnScroll
        animationDelay="100"
        animationClass="animate__fadeIn"
      >
        <img
          class="w-100"
          src="/imgs/icons/logo-orange.svg"
          alt="exceed logo"
        />
      </div>

      <h3
        appAnimateOnScroll
        animationDelay="100"
        animationClass="animate__fadeIn"
      >
        {{ "The perfect solution for all your needs" | translate }}
      </h3>
    </div>

    <div
      class="about-header-bg"
      appAnimateOnScroll
      animationDelay="100"
      animationClass="animate__fadeIn"
    >
      <img
        src="/imgs/about/Group 1321314621.png"
        class="w-100"
        alt="header-image"
        draggable="false"
      />
    </div>

    <div
      class="about-main-text d-flex align-items-center justify-content-center"
      appAnimateOnScroll
      animationDelay="100"
      animationClass="animate__fadeIn"
    >
      <p class="mb-0">
        {{ "AboutHeaderText" | translate }}
      </p>
    </div>
  </div>
</div>
