.hidden {
    display: none;
}

.initial-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #450099;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    &:not(.show) {
        pointer-events: none;
    }

    &:hover {
        background-color: #450099;
        opacity: 0.5;
        transform: translateY(-2px);
    }

    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    i {
        font-size: 1.2rem;
    }
}

.app-container.rtl {
    .scroll-top {
        left: auto;
        right: 20px;
    }
}

.whatsapp {
    position: fixed;
    z-index: 99999;
    width: 80px;
    height: 80px;
    top: 50%;
    inset-inline-start: 20px;
    background-color: #62B34F;
    box-shadow: 0px 4px 40px rgba(182, 199, 225, 0.56);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    & {
        img {
            transition: transform 0.5s ease-in;
        }
    }

    &:hover {
        img {
            transform: scale(1.075);
        }
    }
}

@media (max-width: 768px) {
    .scroll-top {
        bottom: 15px;
        right: 15px;
        width: 45px;
        height: 45px;

        i {
            font-size: 1rem;
        }
    }

    .app-container.rtl .scroll-top {
        left: auto;
        right: 15px;
    }
}