<div class="carousel-container" appAnimateOnScroll animationDelay="100">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slider">
        <div class="slider-content d-flex flex-column justify-content-between">
          <span class="stars d-flex gap-1">
            @for (item of [1,2,3,4,5]; track item) {
            <i class="fa-solid fa-star"></i>
            }
          </span>

          <p class="slider-content-text">
            {{ "The user interface is easy to use" | translate }}
          </p>

          <div
            class="slider-content-footer d-flex align-items-center justify-content-between"
          >
            <div class="slider-content-footer-company">
              <span>{{ "Company CEO" | translate }}</span>
              <img src="/imgs/slider/snowflake.svg" alt="snowflake" />
            </div>
            <div class="slider-content-footer-ceo">
              <img src="/imgs/slider/Vector.png" alt="Ceo" />
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="slider">
        <div class="slider-content d-flex flex-column justify-content-between">
          <span class="stars d-flex gap-1">
            @for (item of [1,2,3,4,5]; track item) {
            <i class="fa-solid fa-star"></i>
            }
          </span>

          <p class="slider-content-text">
            {{ "The user interface is easy to use" | translate }}
          </p>

          <div
            class="slider-content-footer d-flex align-items-center justify-content-between"
          >
            <div class="slider-content-footer-company">
              <span>{{ "Company CEO" | translate }}</span>
              <img src="/imgs/slider/logo-client-tabby.svg" alt="snowflake" />
            </div>
            <div class="slider-content-footer-ceo">
              <img src="/imgs/slider/Vector (1).png" alt="Ceo" />
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="slider">
        <div class="slider-content d-flex flex-column justify-content-between">
          <span class="stars d-flex gap-1">
            @for (item of [1,2,3,4,5]; track item) {
            <i class="fa-solid fa-star"></i>
            }
          </span>

          <p class="slider-content-text">
            {{ "The user interface is easy to use" | translate }}
          </p>

          <div
            class="slider-content-footer d-flex align-items-center justify-content-between"
          >
            <div class="slider-content-footer-company">
              <span>{{ "Company CEO" | translate }}</span>
              <img src="/imgs/slider/logo-client-cenomi.svg" alt="snowflake" />
            </div>
            <div class="slider-content-footer-ceo">
              <img src="/imgs/slider/Vector (2).png" alt="Ceo" />
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="slider">
        <div class="slider-content d-flex flex-column justify-content-between">
          <span class="stars d-flex gap-1">
            @for (item of [1,2,3,4,5]; track item) {
            <i class="fa-solid fa-star"></i>
            }
          </span>

          <p class="slider-content-text">
            {{ "The user interface is easy to use" | translate }}
          </p>

          <div
            class="slider-content-footer d-flex align-items-center justify-content-between"
          >
            <div class="slider-content-footer-company">
              <span>{{ "Company CEO" | translate }}</span>
              <img src="/imgs/slider/snowflake.svg" alt="snowflake" />
            </div>
            <div class="slider-content-footer-ceo">
              <img src="/imgs/slider/Vector (3).png" alt="Ceo" />
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
