@import '../../../styles/base/variables';

.prices-planes {
    &-header {
        .sub-title {
            font-size: 1.8rem;
            color: $textColor;
            font-weight: 300;
        }
    }

    .planes-details {
        margin-top: 18rem;
        display: flex;
        justify-content: center;

        .pricing-card-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        &-item {
            max-width: 348px;
            width: 100%;
            height: 264px;
            padding: 8rem 2.4rem 5.6rem 2.4rem;
            border-radius: 2.4rem;
            background: #fff;
            box-shadow: 0 .4rem 4rem 0 rgba(182, 199, 225, 0.56);
            position: relative;
            margin-bottom: 2rem;

            p {
                color: $header;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2;
                text-align: center;
                margin: 0;
            }

            &-price {
                width: 240px;
                padding: 1.6rem 2.4rem;
                border-radius: 1.6rem;
                background: #fff;
                box-shadow: 0 4px 40px 0 rgba(182, 199, 225, 0.56);
                position: absolute;
                top: -40px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;

                span:first-child {
                    color: #232F3E;
                    font-size: 3.2rem;
                    font-weight: 600;
                }

                span:last-child {
                    color: $header;
                    font-size: 1.6rem;
                    font-weight: 400;
                }
            }

            &-title {
                position: absolute;
                top: -120px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                width: 380px;
                height: 163px;
                padding: 2.4rem 0;
                border-radius: 2.4rem;
                background: #450099;
                display: flex;
                justify-content: center;

                h3 {
                    color: #fff;
                    font-size: 2.4rem;
                    font-weight: 600;
                    margin: 0;
                }
            }
        }

        .pricing-btn-container {
            display: flex;
            justify-content: center;
            width: 100%;

            .pricing-btn {
                display: inline-flex;
                text-decoration: none;
                width: 396px;
                max-width: 100%;
                padding: 1.6rem;
                border-radius: 24px;
                background: #450099;
                color: #fff;
                text-align: center;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    // background: darken($textColor, 10%);
                    transform: translateY(-2px);
                    // box-shadow: 0 6px 20px rgba(69, 0, 153, 0.3);
                }

                span {
                    display: block;

                    &:first-child {
                        font-size: 1.6rem;
                        font-weight: 700;
                    }

                    &:last-child {
                        font-size: 1.2rem;
                        // opacity: 0.9;
                    }
                }
            }
        }
    }
}

// Responsive adjustments

@media(max-width: 1400px) {
    .planes-details-item-title {
        width: 300px !important;
    }
}

@media (max-width: 992px) {


    .plane-item:not(:last-child) {
        margin-bottom: 12rem;
    }

    .prices-planes {
        .planes-details {
            margin-top: 12rem;

            &-item {
                max-width: auto;
                margin: 1rem;

                &-title {
                    width: 300px;
                    height: 140px;
                    top: -100px;

                    h3 {
                        font-size: 2rem;
                    }
                }

                &-price {
                    width: 200px;
                    top: -28px;

                    span:first-child {
                        font-size: 2.8rem;
                    }
                }
            }

            .pricing-btn-container {
                .pricing-btn {
                    width: 100%;
                    max-width: 320px;
                    margin: 0 1rem;
                    padding: 1rem;
                    gap: 0.5rem !important;

                }
            }
        }
    }
}

@media (max-width: 768px) {
    .plane-item:not(:last-child) {
        margin-bottom: 0 !important;
    }

    .planes-details-content {
        display: flex;
        flex-direction: column;
        gap: 14rem;
    }

    .prices-planes {
        .planes-details {
            margin-top: 12rem;

            &-item {
                max-width: auto;
                margin: 1rem;

                &-title {
                    width: 320px;
                    height: 140px;
                    top: -100px;

                    h3 {
                        font-size: 2rem;
                    }
                }

                &-price {
                    width: 200px;
                    top: -28px;

                    span:first-child {
                        font-size: 2.8rem;
                    }
                }
            }

            .pricing-btn-container {
                .pricing-btn {
                    width: 100%;
                    max-width: 320px;
                    margin: 0 1rem;
                    padding: 1rem;
                    gap: 0.5rem !important;

                }
            }
        }
    }
}

@media(max-width: 600px) {
    // .planes-details-content {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 10rem;
    // }


}