<div class="sales-managment">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-12 order-2 order-lg-1"
        appAnimateOnScroll
        animationDelay="100"
      >
        <img src="/imgs/Frame 1618873675.svg" class="w-100" alt="Frame" />
      </div>

      <div
        class="col-lg-6 col-12 d-flex flex-column justify-content-center order-1 order-lg-2"
        appAnimateOnScroll
        animationDelay="100"
      >
        <h3>{{ "SalesManagment" | translate }}</h3>
        <p>{{ "Invoices and Quotations" | translate }}</p>
      </div>
    </div>
  </div>
</div>
