@import '../../../../../styles/base/variables';

.sales-managment {
    padding-top: 8rem;
    background-color: $textColor;
    color: #fff;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/imgs/Clip path group.svg');
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
        opacity: 0.1;
        z-index: -1;
    }

    h3 {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 4rem;

        @media(max-width: 767px) {
            text-align: center;
            // margin-top: 3.8rem;
        }
    }

    p {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2;
        text-align: justify;
    }
}