@import '../../../../../styles/base/variables';


.packages-home-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;

}

.packages {
    margin-top: -5rem;
    z-index: 2;
}

.packages-home {
    height: 100vh;
    padding: 9.6rem 0;
    background: linear-gradient(to bottom, $textColor 60%, rgba(0, 0, 0, 1) 100%);
    color: #fff;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/imgs/Clip path group.svg');
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
        opacity: 0.1;
        z-index: -1;
    }

    h2 {
        font-size: 4.2rem;
        font-weight: 700;
        margin-top: 9.6rem;

        .exceed-text {
            &::before {
                width: 18rem;
                height: 8rem;
            }
        }
    }

    p {
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 4rem;
    }

    .package-type {
        display: flex;
        justify-content: center;

        .packages-btns {
            margin: 5.6rem 0;
            background: #1D003E;
            box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.32);
            border-radius: 88px;
            height: 68px;
            padding: 8px;

            span {
                display: inline-block;
                height: 52px;
                padding: 18px 116px;
                border-radius: 88px;


                a {
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 500;
                    color: #fff;
                    opacity: 0.56;

                }
            }

            span.active {
                background-color: $orange;

                a {

                    opacity: 1;
                }
            }
        }
    }

}



.packages {
    margin-top: -35rem;
    position: relative;
    z-index: 2;

    .container {
        display: flex;
        justify-content: center;
        align-items: stretch; // makes them equal height visually
        flex-wrap: nowrap;


    }

    .package {
        width: 396px;
        background: #ffffff;
        border: 1px solid #c7c7c7;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;
        z-index: 1;

        margin: 0;
        border-radius: 0;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            inset-inline-end: 0;
        }

        &:hover {
            transform: translateY(-10px);
            z-index: 2;
        }

        &:first-child {
            border-radius: 0 24px 24px 0;
            z-index: 1;
        }

        &:nth-child(2) {
            border-radius: 24px;
            height: 1220px;
            z-index: 2;
            transform: scale(1.1);
        }

        &:last-child {
            border-radius: 24px 0 0 24px;
            z-index: 1;
        }

        &.main-package {
            border: 1px solid #F4A631;
            box-shadow: 0px 4px 40px rgba(182, 199, 225, 0.72);

            .package-header {
                background: linear-gradient(0deg, rgba(240, 106, 38, 0.24), rgba(240, 106, 38, 0.24)), #FFFFFF;
            }

            .fees {
                background-color: $orange;
            }
        }

        &-header {
            padding: 4rem;
            background: #ebebeb;

            h4 {
                padding-top: 1.6rem;
                font-size: 2.2rem;
                font-weight: 900;
                color: $grayColor;
            }
        }

        &-price {
            margin-top: 4rem;

            .price {
                span:first-child {
                    color: #232f3e;
                    font-size: 3.2rem;
                    font-weight: 600;
                }

                span:last-child {
                    color: $header;
                    font-size: 1.6rem;
                    font-weight: 400;
                }
            }

            .details p {
                font-size: 1.6rem;
                color: $grayColor;
            }

            .fees {
                background: #979797;
                border-radius: 4rem;
                padding: 8px 16px;
                margin-top: 4rem;
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;

                span {
                    color: #fff;
                    font-size: 1.6rem;
                }
            }
        }

        &-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 4rem;

            h4 {
                color: $grayColor;
                font-size: 1.8rem;
                font-weight: 700;
                padding: 0 4rem;
                margin-bottom: 1.6rem;
            }

            span {
                color: $header;
                font-size: 1.6rem;
            }

            ul {
                padding: 0 4rem;

                li {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    &:not(:last-child) {
                        margin-bottom: 1.2rem;
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #C7C7C7;

                    }
                }


            }

            .second-list {
                margin-bottom: 9.8rem;
            }



        }

        .mb-6rem {
            margin-bottom: 6rem;
        }
    }
}


.package-details-btn {
    margin-top: 9.8rem;

    a {
        text-decoration: none;
        padding: 16px 32px;
        background: linear-gradient(89.53deg, #450099 16.63%, #311352 140.6%);
        border-radius: 12px;

        span {
            font-size: 1.4rem;
            font-weight: 500;
            color: #fff;
        }
    }
}


@media(max-width: 1200px) {

    .packages {
        margin-top: -18rem;
    }
}

@media(max-width: 992px) {
    .packages .container {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0 1rem;
    }

    .packages .package {
        width: 100% !important;
        max-width: 400px;

        // margin-bottom: 2rem;
        // transform: none !important;
        &:nth-child(1),
        &:nth-child(3) {
            transform: none !important
        }

        height: auto !important;
        border-radius: 24px !important;
    }
}

@media (max-width: 767px) {

    .packages-home {
        h2 {
            font-size: 2.8rem;
        }
    }

    .packages-btns {
        span {
            padding: 18px 70px !important;
        }
    }

    .packages-home-wrapper {
        display: block;
    }



    .packages {
        margin-top: -20rem;
    }




    .package-content {
        display: block !important;
    }



    .second-list {
        margin-bottom: 4.8rem !important;
        margin-top: 2.8rem;
    }
}