<div class="questions">
  <div class="container">
    <div
      class="questions-title text-center"
      appAnimateOnScroll
      animationDelay="100"
    >
      <span>
        {{ "Still have questions" | translate }}
      </span>
      <h3>{{ "Frequently Asked Questions" | translate }}</h3>
    </div>

    <div class="row" appAnimateOnScroll animationDelay="100">
      <div class="col-lg-6">
        <!-- First accordion with unique ID -->
        <div class="accordion" id="accordionExample1">
          <!-- First item -->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed d-flex align-items-center gap-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              <i class="fa-solid fa-minus expand-icon"></i>
              <i class="fa-solid fa-plus collapse-icon"></i>

              <div class="content">
                <p class="m-0">
                  {{
                    "Can I try the Exceed system before subscribing" | translate
                  }}
                </p>
              </div>
            </button>

            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample1"
            >
              <div class="accordion-body">
                <!-- First accordion content -->
                {{ "Weve provided a free trial" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <!-- Second accordion with unique ID -->
        <div class="accordion" id="accordionExample2">
          <!-- Second item -->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed d-flex align-items-center gap-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <i class="fa-solid fa-minus expand-icon"></i>
              <i class="fa-solid fa-plus collapse-icon"></i>
              <div class="content">
                <p class="m-0">
                  {{ "Can I choose only the programs I need" | translate }}
                </p>
              </div>
            </button>

            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample2"
            >
              <div class="accordion-body">
                <!-- Second accordion content -->
                {{ "The Exceed system is fully flexible" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <!-- Second accordion with unique ID -->
        <div class="accordion" id="accordionExample3">
          <!-- Second item -->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed d-flex align-items-center gap-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <i class="fa-solid fa-minus expand-icon"></i>
              <i class="fa-solid fa-plus collapse-icon"></i>
              <div class="content">
                <p class="m-0">
                  {{ "difference between the monthly and annual" | translate }}
                </p>
              </div>
            </button>

            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample3"
            >
              <div class="accordion-body">
                <!-- Second accordion content -->
                {{ "Both options are available" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <!-- Second accordion with unique ID -->
        <div class="accordion" id="accordionExample4">
          <!-- Second item -->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed d-flex align-items-center gap-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              <i class="fa-solid fa-minus expand-icon"></i>
              <i class="fa-solid fa-plus collapse-icon"></i>
              <div class="content">
                <p class="m-0">
                  {{ "Is there a team that can help" | translate }}
                </p>
              </div>
            </button>

            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample4"
            >
              <div class="accordion-body">
                <!-- Second accordion content -->
                {{ "the support team will guide you" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <!-- Second accordion with unique ID -->
        <div class="accordion" id="accordionExample5">
          <!-- Second item -->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed d-flex align-items-center gap-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              <i class="fa-solid fa-minus expand-icon"></i>
              <i class="fa-solid fa-plus collapse-icon"></i>
              <div class="content">
                <p class="m-0">
                  {{ "Can I use the system from my mobile phone" | translate }}
                </p>
              </div>
            </button>

            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample5"
            >
              <div class="accordion-body">
                {{ "We have a mobile app that works" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <!-- Second accordion with unique ID -->
        <div class="accordion" id="accordionExample6">
          <!-- Second item -->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed d-flex align-items-center gap-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              <i class="fa-solid fa-minus expand-icon"></i>
              <i class="fa-solid fa-plus collapse-icon"></i>
              <div class="content">
                <p class="m-0">
                  {{ "Do the point-of-sale systems integrate" | translate }}
                </p>
              </div>
            </button>

            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample6"
            >
              <div class="accordion-body">
                {{ "The point-of-sale system in Exceed" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <!-- Second accordion with unique ID -->
        <div class="accordion" id="accordionExample7">
          <!-- Second item -->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed d-flex align-items-center gap-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSeven"
              aria-expanded="false"
              aria-controls="collapseSeven"
            >
              <i class="fa-solid fa-minus expand-icon"></i>
              <i class="fa-solid fa-plus collapse-icon"></i>
              <div class="content">
                <p class="m-0">
                  {{ "What does technical support include" | translate }}
                </p>
              </div>
            </button>

            <div
              id="collapseSeven"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample7"
            >
              <div class="accordion-body">
                {{ "Continuous technical support" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <!-- Second accordion with unique ID -->
        <div class="accordion" id="accordionExample8">
          <!-- Second item -->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed d-flex align-items-center gap-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseEight"
              aria-expanded="false"
              aria-controls="collapseEight"
            >
              <i class="fa-solid fa-minus expand-icon"></i>
              <i class="fa-solid fa-plus collapse-icon"></i>
              <div class="content">
                <p class="m-0">
                  {{
                    "Is Exceed compliant with the Zakat and Tax Authority"
                      | translate
                  }}
                </p>
              </div>
            </button>

            <div
              id="collapseEight"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample8"
            >
              <div class="accordion-body">
                {{
                  "our system fully complies with the electronic" | translate
                }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <!-- Second accordion with unique ID -->
        <div class="accordion" id="accordionExample9">
          <!-- Second item -->
          <div class="accordion-item">
            <button
              class="accordion-button collapsed d-flex align-items-center gap-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseNine"
              aria-expanded="false"
              aria-controls="collapseNine"
            >
              <i class="fa-solid fa-minus expand-icon"></i>
              <i class="fa-solid fa-plus collapse-icon"></i>
              <div class="content">
                <p class="m-0">
                  {{ "Does it require a download" | translate }}
                </p>
              </div>
            </button>

            <div
              id="collapseNine"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample9"
            >
              <div class="accordion-body">
                <p class="m-0">
                  {{ "two options" | translate }}
                </p>

                <ul>
                  <li>
                    {{ "Cloud version" | translate }}
                  </li>
                  <li>
                    {{ "Desktop version" | translate }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
